<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn" bind="run">Run</button>
      </div>
      <div class="btn-group">
        <button class="btn" bind="update">Update</button>
        <button class="btn" bind="save"><%=this.getName()%></button>
      </div>
    </div>
  </div>
</div>
<div id="peg-ui-wrapper" class="container-fluid">
  <div class="row-fluid">
    <b name="grammar" class="span4 cell grammar"></b>
    <b name="program" class="span4 cell program"></b>
    <b name="output" class="span4 cell output"></b>
  </div>
</div>